<!DOCTYPE html>
<html lang="fr">
  {% include head.html %}
  <body class="{%if path == 'home'%}overflow-hidden{%endif%} font-sans container">
    {% include navbar.html %}

    {{ content | safe }}

    {% include footer.html %}

    <script src="/static/js/alpine.js"></script>
    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}
  </body>
</html>