---
title: Biographie
permalink: /biography/
eleventyNavigation:
    key: Biographie
    order: 2
---

<div class="container lg:px-0 mx-auto">
  <strong class="text-9xl">Mathieu<br>Clement</strong>
    <div class="">
      <div class="font-bold">Biographie</div>
      {% assign events = biography.lifeEvent | sortByYear %}
      {% for event in events %}
        <div class="font-semibold">{{event.year}}</div>
        <span>{{event.description}}</span>
      {% endfor %}
    </div>
    <div class="">
      <div class="font-bold">Expositions</div>
      {% assign events = biography.lifeEvent | sortByYear %}
      {% for event in events %}
        <div class="font-semibold">{{event.year}}</div>
        <span>{{event.description}}</span>
      {% endfor %}
  </div>
</div>
<img class="clip-circle-50 absolute w-3/4 -bottom-16 -right-64" src="{{biography.image}}" alt="">
  