---
layout: default
title: Mathieu Clément
path: home
---

<div class="container lg:px-0 mx-auto">
  <div class="">
    <div class="font-bold">Actu</div>
    {% assign artEvents = eventList.events | sortByStartDate %}
    {% for event in artEvents%}
    {%if event.outdated == false %}
    <div class="font-semibold">{{event.title}}</div>
    <div>{{event.location}}</div>
    <div class="mb-3">du {{event.startDate | readableDate }} au {{event.endDate | readableDate }}</div>
    {%endif%}
    {% endfor %}
  </div>

  <strong class="text-8xl absolute bottom-0 font-serif text-gold">Mathieu<br>Clement</strong>

</div>
<img class="clip-circle-50 absolute w-3/4 -bottom-16 -right-64 " src="{{home.image}}" alt="">
