---
layout: default
title: Neat Starter
path: home
---

<div class="container mx-auto lg:h-screen flex flex-col justify-center items-center">
  <!-- <img src="{{biography.image}}" alt=""> -->
  <!-- {% for lifeevent in biography.lifeevent %}
    <div>{{lifeevent.year.toUTCString()}} {{lifeevent.descriptiontion }}</div>
  {% endfor %} -->

  {% set newslist = collections.news %}
  {% for news in newslist %}
    <div>{{news.data.title}}</div>
    <div>{{news.data.startdate.toUTCString()}}</div>
  {% endfor %}

  <strong>Mathieu Clement</strong>

  <img src="{{home.image}}" alt="">

  <!-- {% set artworkslist = collections.artworks %}


  {% for artwork in artworkslist %}
    {% if artwork.data.Medium == "dessin" %}
      <div class="my-8 text-right">
        <img class="max-w-xl" src="{{artwork.data.image}}" alt="{{artwork.data.description}}">
        <div>{{ artwork.data.technique }}</div>
        <div>{{ artwork.data.format }}</div>
      </div>
    {% endif %}
  {% endfor %} -->
</div>